/TestResults
/Tests/bin
/Tests/obj
/Gettext.NET/bin
/Gettext.NET/obj
/Gettext.NET.v11.suo
/GetextDotNet.Tools/bin
/GetextDotNet.Tools/obj
/GetextDotNet.Tools/GetextDotNet.Tools.csproj.user

/GettextDotNet.MessageExtractor/GettextDotNet.MessageExtractor.csproj.user
/GettextDotNet.MessageExtractor/bin
/GettextDotNet.MessageExtractor/obj
/SampleMvcApplication/obj
/SampleMvcApplication/bin
/SampleMvcApplication/SampleMvcApplication.csproj.user
/packages

/SampleMvcApplication/App_Data/database.ldf
/SampleMvcApplication/App_Data/database.mdf
/SampleMvcApplication/App_Data/database_log.ldf
/SampleMvcApplication/locale/newmessages.pot

/GetextDotNet.Tools/GettextDotNet.Tools.csproj.user

/SampleMvcApplication/Images/Thumbs.db

/SampleMvcApplication/locale/*.mo
